@{
    ViewBag.Title = "风尚版风格";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@Html.AppendCssFile("/Views/Home/AdminAccordion/index.css")
<div class="lr-frame-top">
    <a class="lr-logo-title">爱养车后台管理</a>
</div>
<div class="lr-frame-menu-btn" id="lr_frame_menu_btn"><i class="fa fa-fw fa-dedent"></i></div>
@Html.AppendJsFile("/Views/Home/AdminAccordion/index.js")




