<?xml version="1.0" encoding="utf-8"?>
<unity>
  <typeAliases>
    <typeAlias alias="IDatabase" type="NSAYC.DataBase.IDatabase,NSAYC.DataBase" />
    <typeAlias alias="SqlServer" type="NSAYC.DataBase.SqlServer.Database,NSAYC.DataBase.SqlServer" />
    <typeAlias alias="MySql" type="NSAYC.DataBase.MySqlEx.Database,NSAYC.DataBase.MySqlEx" />
    <typeAlias alias="Oracle" type="NSAYC.DataBase.Oracle.Database,NSAYC.DataBase.Oracle" />


    <!--工作流接口-->
    <typeAlias alias="INodeMethod" type=" NSAYC.Application.WorkFlow.INodeMethod, NSAYC.Application.WorkFlow" />
    <typeAlias alias="NodeMethod" type=" NSAYC.Application.WorkFlow.NodeMethod, NSAYC.Application.WorkFlow" />
    
  </typeAliases>
  <containers>
    <container name="IOCcontainer">
      <type type="IDatabase" mapTo="SqlServer" name="SqlServer"></type >
      <type type="IDatabase" mapTo="MySql" name="MySql"></type >
      <type type="IDatabase" mapTo="Oracle" name="Oracle"></type >
    </container>

    <container name="WfIOCcontainer">
      <type type="INodeMethod" mapTo="NodeMethod"></type>
    </container>
    
  </containers>
</unity>