<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <add key="FormPath" value="C:\work\project\adms\6.1.60\NSAYC.Framework V6.1"/>
    <!--<add key="ToPath" value="C:\work\project\bpm\NSAYC.Framework V6.1\packageBin\" />-->
    <add key="ToPath" value="C:\work\project\adms\6.1.60\NSAYC.Framework V6.1.f\learunbin\"/>

    <!--<add key="ToPathWeb" value="C:\work\project\bpm\NSAYC.Framework V6.1\NSAYC.Application.Web\" />-->

    <add key="ToPathWeb" value="C:\work\project\adms\6.1.60\NSAYC.Framework V6.1.f\NSAYC.Application.Web\"/>
  </appSettings>
</configuration>
